<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML5 Test Page</title>
    <script src="/krumelur.min.js" async></script>
    <script type="text/javascript">
        var ajax = function(url) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.send();

            xhr.onreadystatechange = function () {
              var DONE = 4; // readyState 4 means the request is done.
              var OK = 200; // status 200 is a successful return.
              if (xhr.readyState === DONE) {
                if (xhr.status === OK) {
                  unbindLink();

                  var element = document.getElementById("top");
                  Krumelur.applyFromSnapshot(xhr.responseText, element);
                  
                  //Make the applyFromSnapshot paint before a snapshot is taken
                  setTimeout(function(){
                   Krumelur.snapshot(element);
                  }, 10);
                //Krumelur.apply(xhr.responseText, element);

                  bindLink();
                } else {
                  console.log('Error: ' + xhr.status); // An error occurred during the request.
                }
              }
            };
        };

        var ajax2 = function(url) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.send();

            xhr.onreadystatechange = function () {
              var DONE = 4; // readyState 4 means the request is done.
              var OK = 200; // status 200 is a successful return.
              if (xhr.readyState === DONE) {
                if (xhr.status === OK) {
                  unbindLink();

                  var element = document.getElementById("top");
                  element.innerHTML = xhr.responseText;
                  
                  bindLink();
                } else {
                  console.log('Error: ' + xhr.status); // An error occurred during the request.
                }
              }
            };
        };

        var unbindLink = function(){
            var x = document.getElementById("selflink");
            if (x.removeEventListener) {
                x.removeEventListener("click", eventFunction);
            } else if (x.detachEvent) {
                x.detachEvent("click", eventFunction);
            }
        };

        var bindLink = function(){
            var x = document.getElementById("selflink");
            if (x.addEventListener) {
                x.addEventListener("click", eventFunction);
            } else if (x.attachEvent) {
                x.attachEvent("click", eventFunction);
            }

            var y = document.getElementById("selflink2");
            if (y.addEventListener) {
                y.addEventListener("click", eventFunction2);
            } else if (y.attachEvent) {
                y.attachEvent("click", eventFunction2);
            }
        };

        var eventFunction = function(e) {
            e.preventDefault();
            ajax(e.target.href);
        };

        var eventFunction2 = function(e) {
            e.preventDefault();
            ajax2(e.target.href);
        };

        window.onload = function(){
            var element = document.getElementById("top");
            Krumelur.snapshot(element);
            bindLink();
        };

        
    </script>

</head>
<body>
    <%= erb :body_many_nodes %>
</body>
</html>
