<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML5 Test Page</title>
    <script src="/bundle.js"></script>
    <script type="text/javascript">
        var ajax = function(url) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.send();

            xhr.onreadystatechange = function () {
              var DONE = 4; // readyState 4 means the request is done.
              var OK = 200; // status 200 is a successful return.
              if (xhr.readyState === DONE) {
                if (xhr.status === OK) {
                  unbindLink();

                  var body = document.getElementById("body");
                  Krumelux.applyDiffFromHTMLString(xhr.responseText, body);
                  
                  bindLink();
                } else {
                  console.log('Error: ' + xhr.status); // An error occurred during the request.
                }
              }
            };
        };

        var unbindLink = function(){
            var x = document.getElementById("selflink");
            if (x.removeEventListener) {
                x.removeEventListener("click", eventFunction);
            } else if (x.detachEvent) {
                x.detachEvent("click", eventFunction);
            }
        };

        var bindLink = function(){
            var x = document.getElementById("selflink");
            if (x.addEventListener) {
                x.addEventListener("click", eventFunction);
            } else if (x.attachEvent) {
                x.attachEvent("click", eventFunction);
            }
        };

        var eventFunction = function(e) {
            e.preventDefault();
            ajax(e.target.href);
        };

        window.onload = function(){
            Krumelux.initialize(document.body)
            bindLink()
        };

        
    </script>

</head>
    <body id="body">
        <%= erb :body %>
    </body>
</html>
