<li class="editing">
  <div class="view">
  </div>
  <form class="form-edit" action="{{#if route}}{{route}}{{/if}}/edit/{{id}}" method="post">
    <input class="edit" type="text" name="title" value="{{title}}" autofocus/>
  </form>
</li>